.button {
  display: inline-block;

  padding: 14px;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 16px;
}

.button:hover {
  border: 1px solid #00b2ff;
  color:  #00b2ff;
}

.button--color {
  color: #ffffff;
  border: none;
  background-color: #00b2ff;
}

.button--color:hover {
  color: #00b2ff;
  border: none;
  background-color: #ffffff;
}

.button:active {
  opacity: 0.7;
}

.button--size-big {
  font-size: 16px;
  line-height: 19px;
}


