.header-product__description::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;

  width: 66px;
  height: 2px;

  background-color: #ffffff;
}

@media (max-width: 1023px) {
  .header-product__description::before {
    top: 15px;

    width: 33px;
  }
}

@media (max-width: 767px) {
  .header-product__button {
    min-width: 287px;
    margin-top: 41px;
  }
}
