.header {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 33px;
  padding-bottom: 90px;

  color: #ffffff;
  background-color: #1b2d37;
  background-image: url("../img/chip-desktop@1x.png"),
  url("../img/bg-header-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 258px right 9.218%,
  center top;
}

.header__content {
  position: relative;

  padding-bottom: 200px;
}

.header__wrap-top {
  display: flex;
  align-items: flex-start;
}

.header__nav {
  display: flex;
  flex-grow: 1;
}

.site-list__button {
  min-width: 180px;
  min-height: 45px;
  margin-left: 38px;
}

.header__logo {
  width: 202px;
  height: 52px;
}

.header__site-list {
  min-width: 440px;
  margin-left: auto;
  padding-top: 14px;
}

.header__wrap-bottom {
  max-width: 718px;
  margin-top: 230px;
  // padding-right: 45%;
}

.header__link {
  position: absolute;
  bottom: 36px;
  left: -17px;

  transform: rotate(-90deg);

  opacity: 0.5;
  color: #ffffff;

  font-family: "PT Mono", "Andale Mono", monospace;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}
