.header-product__title {
  margin-top: 0;
  margin-bottom: 0;

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #ffffff;

  font-family: "Roboto Condensed", "Arial" sans-serif;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  line-height: 94px;
}

.header-product__description {
  position: relative;

  margin-bottom: 0;
  padding-left: 94px;

  color: #ffffff;

  font-family: "PT Mono", "Andale Mono", monospace;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 34px;
}

.header-product__description::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;

  width: 66px;
  height: 2px;
  margin-right: 28px;

  background-color: #ffffff;
}

.header-product__button {
  min-width: 407px;
  margin-top: 50px;
  padding-top: 17px;
  padding-bottom: 17px;
}
