.header {
  padding-top: 33px;
  padding-bottom: 90px;
  background-color: #1B2D37;
  background-image: url("../img/chip-desktop@1x.png"),
  url("../img/bg-header-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 258px right 177px,
  center top;
  color: #ffffff;
}

.header__content {
  position: relative;
  padding-bottom: 200px;
}

.header__wrap-top {
  display: flex;
  align-items: flex-start;
}

.header__nav {
  flex-grow: 1;
  display: flex;
}

.site-list__button {
  margin-left: 38px;
  min-width: 180px;
  min-height: 45px;
}

.header__logo {
  width: 202px;
  height: 52px;
}

.header__site-list {
  padding-top: 14px;
  margin-left: auto;
  min-width: 440px;
}

.header__wrap-bottom {
  margin-top: 230px;
  max-width: 718px;
  // padding-right: 45%;
}

.header__link {
  position: absolute;
  left: -17px;
  bottom: 36px;

  font-family: "PT Mono", "Andale Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  opacity: 0.5;
  transform: rotate(-90deg);
}
