.main {
  width: 100%;
  background-image: url("../img/bg-about-us-desktop.svg");
  background-repeat: no-repeat;
  background-position: top 43px left;
}

.main__wrapper {
  max-width: 1218px;
  margin-top: 109px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.main__about-company {
  margin-top: 110px;
}

.main__products-service {
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 93px;
  padding-right: 25px;
  padding-bottom: 127px;
  padding-left: 25px;
}

.main__wrap-products-service {
  margin-top: 110px;

  background-color: #1b2d37;
}

@media (max-width: 1023px) {
  .main {
    background-image: url("../img/bg-about-us-tablet.svg");
    background-position: top 242px right;
  }

  .main__wrapper {
    margin-top: 59px;
  }

  .main__about-company {
    max-width: 767px;
    margin-top: 60px;
  }

  .main__products-service {
    max-width: 770px;
    padding-top: 53px;
    padding-right: 25px;
    padding-bottom: 78px;
    padding-left: 25px;
  }

  .main__wrap-products-service {
    margin-top: 83px;
  }
}

@media (max-width: 767px) {
  .main {
    background-image: url("../img/bg-about-us-mobile.svg");
    background-position: top 804px right;
  }

  .main__wrapper {
    margin-top: 37px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .main__products-service {
    padding-right: 15px;
    padding-bottom: 64px;
    padding-left: 15px;
  }

  .main__wrap-products-service {
    margin-top: 65px;
  }
}
