.products-service {
  max-width: 1170px;

  background-color: #1b2d37;

  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.products-service__title {
  margin-top: 0;
  margin-bottom: 0;

  color: #ffffff;

  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 51px;
}

.products-service__list {
  display: grid;

  margin-top: 45px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  grid-template-columns: repeat(3, minmax(370px, auto));
  grid-auto-rows: minmax(620px, auto);
  grid-gap: 30px;
}

.products-service__item {
  display: flex;
}

.products-service__item-link {
  background-image: url("../img/bg-product-card-1-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-product-card-1-desktop@2x.jpg");
  }
}

.products-service__item-link:hover {
  box-shadow: inset 0 0 0 1px #00b2ff;
}

.products-service__item-link:focus {
  box-shadow: inset 0 0 0 1px #00b2ff;
}

.products-service__item-link:active {
  opacity: 0.4;
}

.products-service__item--image-production .products-service__item-link {
  background-image: url("../img/bg-product-card-1-desktop@1x.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-product-card-1-desktop@2x.jpg");
  }
}

.products-service__item--image-mounting .products-service__item-link {
  background-image: url("../img/bg-product-card-2-desktop@1x.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-product-card-2-desktop@2x.jpg");
  }
}

.products-service__item--image-components .products-service__item-link {
  background-image: url("../img/bg-product-card-3-desktop@1x.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-product-card-3-desktop@2x.jpg");
  }
}

.products-service__item-link {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  padding-top: 54px;
  padding-left: 43px;

  color: #ffffff;

  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
}

.products-service__item-title {
  max-width: 150px;
  margin-top: 0;
  margin-bottom: 0;

  color: #ffffff;

  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
}

.products-service__item-icon {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;

  width: 63px;
  height: 63px;

  background-color: #00b2ff;
}

@media (max-width: 1023px) {
  .products-service {
    max-width: 720px;
  }

  .products-service__list {
    grid-template-columns: minmax(712px, auto);
    grid-auto-rows: minmax(256px, auto);
    grid-gap: 46px;
  }

  .products-service__item--image-production .products-service__item-link {
    background-image: url("../img/bg-product-card-1-tablet@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-product-card-1-tablet@2x.jpg");
    }
  }

  .products-service__item--image-mounting .products-service__item-link {
    background-image: url("../img/bg-product-card-2-tablet@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-product-card-2-tablet@2x.jpg");
    }
  }

  .products-service__item--image-components .products-service__item-link {
    background-image: url("../img/bg-product-card-3-tablet@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-product-card-3-tablet@2x.jpg");
    }
  }

  .products-service__item-link {
    padding-top: 43px;
  }
}
