.products-service {
  background-color: #1b2d37;

  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.products-service__title {
  margin-top: 0;
  margin-bottom: 0;

  color: #ffffff;

  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 51px;
}

.products-service__list {
  display: grid;

  margin-top: 52px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(620px, auto);
  grid-gap: 30px;
}

.products-service__item {
  display: flex;
}

.products-service__item-link {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  padding: 50px 44px;

  color: #ffffff;
  background-image: url("../img/bg-product-card-1-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-product-card-1-desktop@2x.jpg");
  }
}

.products-service__item-link:hover {
  box-shadow: inset 0 0 0 1px #00b2ff;
}

.products-service__item-link:focus {
  box-shadow: inset 0 0 0 1px #00b2ff;
}

.products-service__item-link:active {
  opacity: 0.4;
}

.products-service__item-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  width: 63px;
  height: 63px;

  background-color: #00b2ff;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.products-service__item--image-production .products-service__item-link {
  background-image: url("../img/bg-product-card-1-desktop@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-product-card-1-desktop@2x.jpg");
  }
}

.products-service__item--image-mounting .products-service__item-link {
  background-image: url("../img/bg-product-card-2-desktop@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-product-card-2-desktop@2x.jpg");
  }
}

.products-service__item--image-components .products-service__item-link {
  background-image: url("../img/bg-product-card-3-desktop@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-product-card-3-desktop@2x.jpg");
  }
}

.products-service__item-title {
  max-width: 160px;
  margin-top: 0;
  margin-bottom: 0;

  color: #ffffff;

  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
}

@media (max-width: 1023px) {
  .products-service__title {
    font-size: 32px;
    line-height: 45px;
  }

  .products-service__list {
    grid-template-columns: minmax(715px, auto);
    grid-auto-rows: minmax(256px, auto);
    grid-gap: 46px;
    margin-top: 49px;
  }

  .products-service__item--image-production .products-service__item-link {
    background-image: url("../img/bg-product-card-1-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-product-card-1-tablet@2x.jpg");
    }
  }

  .products-service__item--image-mounting .products-service__item-link {
    background-image: url("../img/bg-product-card-2-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-product-card-2-tablet@2x.jpg");
    }
  }

  .products-service__item--image-components .products-service__item-link {
    background-image: url("../img/bg-product-card-3-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-product-card-3-tablet@2x.jpg");
    }
  }

  .products-service__item--padding-top-big .products-service__item-link {
    padding-top: 51px;
  }

  .products-service__item-link {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .products-service__title {
    margin-left: 10px;

    font-size: 28px;
    line-height: 39px;
  }

  .products-service__item-link {
    padding: 22px 35px;
  }

  .products-service__list {
    margin-top: 37px;

    grid-template-columns: minmax(290px, auto);
    grid-gap: 30px;
  }

  .products-service__item--padding-top-big .products-service__item-link {
    padding-top: 32px;
  }

  .products-service__item--image-production .products-service__item-link {
    background-image: url("../img/bg-product-card-1-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-product-card-1-mobile@2x.jpg");
    }
  }

  .products-service__item--image-mounting .products-service__item-link {
    background-image: url("../img/bg-product-card-2-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-product-card-2-mobile@2x.jpg");
    }
  }

  .products-service__item--image-components .products-service__item-link {
    background-image: url("../img/bg-product-card-3-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-product-card-3-mobile@2x.jpg");
    }
  }
}
