.site-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.site-list a {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  color: inherit;

  font-family: "PT Mono", "Andale Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.site-list__item a::before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 20px;
  display: inline-block;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center left;
};

.site-list__item--icon-mail a::before {
  background-image: url("../img/icon-mail.svg");
  width: 19px;
  height: 14px;
}
